
*.cache
*.ide-wal
*.ide-shm
*.ide
*.lock
*.cache
.vs/Luxefoods_WindowsForms/v16/.suo
Luxefoods_WindowsForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Luxefoods_WindowsForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Luxefoods_WindowsForms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Luxefoods_WindowsForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csproj.GenerateResource.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csprojAssemblyReference.cache
