.vs/
Luxefoods_WindowsForms/Debug
Luxefoods_WindowsForms/bin/Debug/Luxefoods_WindowsForms.exe
Luxefoods_WindowsForms/bin/Debug/Luxefoods_WindowsForms.pdb
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csproj.FileListAbsolute.txt
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csproj.GenerateResource.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csprojAssemblyReference.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.exe
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.pdb
Luxefoods_WindowsForms/bin/Debug/Luxefoods_WindowsForms.exe
Luxefoods_WindowsForms/bin/Debug/Luxefoods_WindowsForms.pdb
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csproj.GenerateResource.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csprojAssemblyReference.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.exe
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.pdb
