*.cache
.vs/Luxefoods_WindowsForms/v16/Server/sqlite3/storage.ide-wal
.vs/Luxefoods_WindowsForms/v16/Server/sqlite3/storage.ide-shm
.vs/Luxefoods_WindowsForms/v16/Server/sqlite3/storage.ide
.vs/Luxefoods_WindowsForms/v16/.suo


.vs/Luxefoods_WindowsForms/v16/.suo
.vs/Luxefoods_WindowsForms/v16/Server/sqlite3/storage.ide
Luxefoods_WindowsForms/bin/Debug/Luxefoods_WindowsForms.exe
Luxefoods_WindowsForms/bin/Debug/Luxefoods_WindowsForms.pdb
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csproj.GenerateResource.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.csprojAssemblyReference.cache
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.exe
Luxefoods_WindowsForms/obj/Debug/Luxefoods_WindowsForms.pdb
Luxefoods_WindowsForms/reservation.cs